@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Questrial&display=swap');

/*  Custom Properties  */

:root {
    --color-primary: #30b69d;
    --color-danger: #ff7782;
    --color-success: #25d15e;
    --color-warning: #f3e13c;
    --color-white: #fff;
    --color-info-dark: #49666b;;
    --color-info-light: #e3e7f0;
    --color-dark: rgb(20, 17, 17);
    --color-light: rgba(132, 139, 200, 0.18);
    --color-info-light: #dce1eb;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.5rem;
    --padding-1: 1.2rem;

    --fs-text1: 1.4rem;
    --fs-text2: 1rem;
    --fs-text3: .80rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
/*  DARK MODE  */
.darkmode {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}


/* General Properties */
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow: hidden;
    color: var(--color-dark);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}
.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}

.primary-variant {
    color: var(--color-primary-variant);
}

aside {
    height: 100vh;
    position: block;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 1.5rem;
    margin-left: 6%;
}

aside .logo img {
    width: 4rem;
    height: 4rem;
}

aside .close {
    display: none;
}

/*=====  Sidebar Section  =====*/
aside .sidebar {
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 86vh;
    position: relative;
    top: 1.5rem;
}

aside h3 {
    font-weight: 600;
}

aside .sidebar a {
    display: flex;
    color: var(--color-dark);
    margin-left: .1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 200ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
}

aside .sidebar a:hover {
    color: var(--color-primary);
    background: var(--color-info-light);
    border-left: 5px solid var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}
/*  Start of Main  */
main {
    margin-top: 1.4rem;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
    margin: 1em;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div span {
    background: var(--color-success);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.stock span {
    background: var(--color-primary);
}

main .insights > div.reservation span {
    background: var(--color-danger);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
    margin-left: 1em;
}

main .insights .number {
    text-align: center;
}


/*  Section Transaction  */
.recenttrans {
    margin-top: 1em;
}

.listoftrans {
    background: var(--color-white);
    padding: 1em;
    height: 45vh;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.listoftrans:hover {
    box-shadow: none;
}

/*  Table Transaction  */
.content-table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
}

.content-table thead tr {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.content-table th:first-child {
    border-top-left-radius: 15px;
}


.content-table th:last-child {
    border-top-right-radius: 15px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    border-bottom: 1px solid rgb(238, 233, 233);
}

/* Start of Right */
.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    gap: 1rem;
}

#menu-btn {
    display: none;
}

.right #dark-mode-toggle {
    background: var(--color-info-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right #dark-mode-toggle span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right #dark-mode-toggle span.active {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius-2);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .top .profile p {
    font-size: var(--fs-text2);
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-dark);
}

/*  Date  */
.rectangle-border {
    background: linear-gradient(to right bottom, 
    rgba(157, 237, 243, 0.9), 
    rgba(42, 160, 173, 0.9)
    );
    height: 1rem;
    width: 90%;
    border-radius: 10px;
    margin: 1em auto;
}

.datetoday {
    background: var(--color-white);
    padding: 1em;
    height: 25vh;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin: 1em;
}

.datetoday span {
    background: var(--color-warning);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.5rem;
}

.datetoday:hover {
    box-shadow: none;
}

.date-today {
    margin: .5em;
    font-size: var(--fs-text1);
    font-weight: bolder;
}

/* Schedule */
.schedinfo {
    background: var(--color-white);
    height: 40vh;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin: 1em;
}

.schedinfo:hover {
    box-shadow: none;
}


/*  Media Queries  */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo {
        margin-right: 1rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 5rem;
    }

    main .insights {
        grid-template-columns: 1fr;
    }

    main .listoftrans {
        width: 96%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 10rem;
    }

    main .listoftrans table {
        width: 83vw;
    }

    main table thead tr td:last-child,
    main table thead tr td:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100;
        background: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding: var(--card-padding);
        display: none;
        animation: showMenu 300ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        margin-right: .8rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .listoftrans {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .listoftrans table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: end;
        padding: 0 1rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    #menu-btn {
        display: inline;
    }
    
    .right .top #dark-mode-toggle {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background:  transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}








