* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #7af3cf, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Glass Login Form  */
.logintext {
    text-align: center;
    padding-top: 13%;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color:#30b69d;
    letter-spacing: .1em;
}
/*  Text Properties   */
.input-box span {
    position: relative;
}

.input-box input {
    width: 45%;
    padding: 10px;
    border: 1px solid rgba(11, 90, 136, 0.3);
    background: #dcebfa;
    border-radius: 12px;
    outline: none;
    color: #35776c;
    font-size: 1em;
    margin-left: 23%;
    margin-top: 50px;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    padding-left: 3.5em;
    pointer-events: none;
    font-size: 1em;
    color: #5c817a;
    margin-left: 28%;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: poppins, sans-serif;
    letter-spacing: .05em;
}

.input-box input:valid ~ span, 
.input-box input:focus ~ span {
    color: #30b69d;
    transform: translateX(15px) translateY(-10px);
    font-size: 0.73em;
    padding: 2px 3px;
    padding-bottom: 0;
    transition: 99ms;
    border-left: 2px solid  rgba(11, 90, 136, 0.3);
    border-right: 2px solid  rgba(11, 90, 136, 0.3);
    background: #ACF7E1;
}

.fa-solid {
    font-size: 25px;
    color: #30b69d;
    position: relative;
    left: 22%;
}

.login-btn {
    width: 45%;
    height: 4em;
    border-radius: 2em;
    border:  4px solid #6cdbeb;
    color:#30b69d;
    font-family: 'Questrial', sans-serif;
    font-size: .95em;
    background: transparent;
    position: absolute;
    bottom: 20%;
    left: 27%;
}

.login-btn:hover {
    background-color: #30b69d;
    color: white;
    transition: 200ms;
}

.error {
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    margin: 0 auto;
    margin-top: 1em;
    width: 60%;
    border-radius: 5px;
    text-align: center;
}

.error:hover {
    background-color: transparent;
    color: transparent;
    transition: 100ms;
}

.glassloginform{
    margin-top: 2em;
    min-height: 80vh;
    width: 35%;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.2)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem); 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.circle1, 
.circle2 {
    background: linear-gradient(to right bottom,  
    rgba(171, 217, 238, 0.3),
    rgba(209, 250, 250, 0.9)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}

.circle1 {
    top: 4%;
    right: 21%;
}

.circle2 {
    bottom: 4%;
    left: 21%;
}

.circle3, 
.circle4,
.circle6 {
    background: linear-gradient(to right bottom, 
    rgba(157, 237, 243, 0.9), rgba(229, 246, 248, 0.9),
    rgba(255, 255, 255, 0.1)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 40%;
}

.circle3 {
    top: 7%;
    left: 13%;
}

.circle4 {
    bottom: 7%;
    right: 13%;
}

.circle6 {
    bottom: 60%;
    right: 2%;

}

.circle5 {
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.9), rgba(201, 237, 253, 0.9), 
    rgba(255, 255, 255, 0.1)
    );
    height: 23rem;
    width: 23rem;
    position: absolute;
    border-radius: 50%;
}

.circle5 {
    top: 38%;
    left: -15%;
}





